{% extends 'layout.html' %} 

{% block main %} 

       <div class="block">
            <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="/static/images/cooker-img.png" alt="cooker-img">
            <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms" ><span>Restaurante IPT</span> </br>Faça o seu pedido <span> Já</span>
            </h1>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim </br> ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </br>voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat</p>
        </div>
                
{% endblock %}